/*======================================================
1. VARIABLES
======================================================*/

:root{

    /* Rosas */
    --rosa: #EABBC5;
    --rosa-claro: #F7E8EC;
    --rosa-fuerte: #DFA4B5;

    /* Azules */
    --azul: #A8C8E8;
    --azul-claro: #DCEFFA;
    --azul-fuerte: #8FB4D8;

    /* Neutros */
    --blanco: #FFFFFF;
    --marfil: #FAF8F5;
    --crema: #F6F3EF;

    /* Texto */
    --titulo: #6D7F95;
    --texto: #7D7680;
    --texto-claro: #A49CA6;

    /* Detalles */
    --dorado: #D8C19A;

    /* Sombras */
    --shadow: 0 18px 40px rgba(168,200,232,.18);

}


/*======================================================
2. RESET
======================================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Poppins",sans-serif;


    background:


        radial-gradient(
            circle at top left,
            rgba(220,239,250,.75) 0%,
            transparent 38%
        ),



        radial-gradient(
            circle at bottom right,
            rgba(245,232,220,.65) 0%,
            transparent 40%
        ),



         
    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );



    color:var(--texto);


    overflow-x:hidden;

}


/*======================================================
BOTÓN MÚSICA
======================================================*/

#music-btn{

    position:fixed;

    bottom:25px;
    right:25px;

    width:60px;
    height:60px;

    border-radius:50%;
    border:none;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:24px;
    color:#fff;

    background:linear-gradient(
        135deg,
        var(--azul-fuerte),
        var(--azul)
    );

    box-shadow:
        0 15px 35px rgba(143,180,216,.35);

    transition:all .35s ease;

    z-index:99999;

}
#music-btn:hover{

    transform:translateY(-4px) scale(1.08);

    background:linear-gradient(
        135deg,
        var(--rosa-fuerte),
        var(--azul-fuerte)
    );

    box-shadow:
        0 20px 45px rgba(223,164,181,.30);

}
/*======================================================
4. HERO
======================================================*/

.hero{

    position:relative;

    width:100%;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background-image:url("hero8.png");
     
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}
.overlay{

    position:absolute;
    inset:0;

    background:
        linear-gradient(
            180deg,
            rgba(250,248,245,.20) 0%,
            rgba(247,232,236,.28) 45%,
            rgba(220,239,250,.35) 100%
        );

}
.hero-content{

    position:relative;
    z-index:5;

    text-align:center;

    max-width:900px;

    padding:40px 30px;

}
.detalle{

    display:inline-block;

    padding:12px 28px;

    border-radius:50px;

    background:rgba(255,255,255,.55);

    border:1px solid rgba(255,255,255,.65);

    backdrop-filter:blur(18px);

    color:var(--titulo);

    letter-spacing:5px;

    text-transform:uppercase;

    font-size:12px;

    font-weight:500;

    margin-bottom:30px;

}
.hero h1{

    font-family:"Great Vibes",cursive;

    font-size:clamp(4rem,10vw,8rem);

    font-weight:400;

    color:var(--titulo);

    line-height:1.1;

    text-shadow:
        0 2px 10px rgba(255,255,255,.9),
        0 10px 30px rgba(168,200,232,.18);

}

.linea{

    width:170px;

    height:2px;

    margin:30px auto;

    background:linear-gradient(
        to right,
        transparent,
        var(--rosa),
        var(--dorado),
        var(--azul),
        transparent
    );

}

.hero p{

    font-family:"Cormorant Garamond",serif;

    font-size:clamp(1.6rem,3vw,2.3rem);

    color:var(--texto);

    letter-spacing:4px;

    font-weight:500;

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:radial-gradient(
        circle,
        rgba(255,255,255,.45),
        transparent 70%
    );

    z-index:1;

}


/*======================================================
5. CUENTA REGRESIVA
======================================================*/

.contador{

    padding:120px 20px;

    text-align:center;

    position:relative;

}

.contenedor{

    max-width:1100px;

    margin:auto;
    

    

}

.subtitulo{

    color:var(--dorado);

    text-transform:uppercase;

    letter-spacing:5px;

    font-size:13px;

    font-weight:600;

}

.contador h2{

    margin:18px 0;

    font-size:56px;

    font-family:"Cormorant Garamond",serif;

    color:var(--titulo);

    font-weight:600;

}

.texto-contador{

    max-width:650px;

    margin:0 auto 60px;

    color:var(--texto);

    font-size:17px;

    line-height:1.8;

}
.countdown{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:28px;

}
.tiempo{

     background:
 

url("hero2.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.75);

    border-radius:28px;

    padding:40px 20px;

    box-shadow:0 20px 40px rgba(168,200,232,.15);

    transition:.4s ease;

   
    position:relative;
    overflow:hidden;


}

.tiempo:hover{

    transform:translateY(-10px);

    box-shadow:0 28px 55px rgba(168,200,232,.22);

}

.tiempo span{

    display:block;

    font-size:72px;

    font-weight:600;

    color:var(--azul-fuerte);

    line-height:1;

    font-family:"Cormorant Garamond",serif;

}
.tiempo small{

    display:block;

    margin-top:16px;

    text-transform:uppercase;

    letter-spacing:4px;

    font-size:12px;

    color:var(--rosa-fuerte);

    font-weight:600;

}
.tiempo::before{

    content:"";

    position:absolute;

    inset:0;

    border-radius:28px;

    background:linear-gradient(
        180deg,
        rgba(255,255,255,.35),
        transparent
    );

    pointer-events:none;

}



/*======================================================
6 GALERÍA
======================================================*/

.galeria{

    padding:120px 20px;

    position:relative;
     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );

}

.titulo-seccion{

    max-width:700px;

    margin:0 auto 70px;

    text-align:center;

}

.titulo-seccion span{

    color:var(--dorado);

    text-transform:uppercase;

    letter-spacing:5px;

    font-size:13px;

    font-weight:600;
     display: inline-block;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

}

.titulo-seccion h2{

    margin-top:18px;

    font-family:"Cormorant Garamond",serif;

    font-size:56px;

    font-weight:600;

    color:var(--titulo);

}

.titulo-seccion p{

    margin-top:20px;

    color:var(--texto);

    font-size:17px;

    line-height:1.8;

}
.galeria-grid{

    max-width:1100px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:28px;

}
.foto{

    position:relative;

    height:360px;

    overflow:hidden;

    border-radius:30px;

    background:rgba(255,255,255,.7);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.8);

    box-shadow:var(--shadow);

}
.foto img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:transform .8s ease;

}

.foto:hover img{

    transform:scale(1.08);

}
.foto.grande{

    height:460px;

}

.foto::after{

    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(

        135deg,

        rgba(255,255,255,.45) 0%,

        rgba(255,255,255,.08) 40%,

        transparent 70%

    );

    opacity:0;

    transition:.45s;

}
.foto:hover::after{

    opacity:1;

}
.foto::before{

    content:"";

    position:absolute;

    inset:12px;

    border:1px solid rgba(255,255,255,.45);

    border-radius:22px;

    z-index:2;

    pointer-events:none;

}
.foto{

    transition:.35s ease;

}

.foto:hover{

    transform:translateY(-8px);

    box-shadow:0 25px 55px rgba(168,200,232,.18);

}


/*======================================================
ITINERARIO
======================================================*/

.itinerario{

     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );
    padding:120px 20px;

    display:flex;

    justify-content:center;

    position:relative;

    overflow:hidden;

}


/* luz decorativa */

.itinerario::before{

    content:"";

    position:absolute;

    width:380px;

    height:380px;

    background:var(--rosa-claro);

    opacity:.45;

    filter:blur(100px);

    border-radius:50%;

    top:20px;

    left:-100px;

}

.itinerario-card{

    position:relative;

    max-width:750px;

    width:100%;

    text-align:center;

    padding:70px 50px;

   background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    backdrop-filter:blur(25px);

    border-radius:45px;

    box-shadow:
        0 25px 60px rgba(168,200,232,.18);

    border:1px solid rgba(255,255,255,.85);

}
.timeline{

    position:relative;

    margin-top:40px;

    padding:10px 0;

}
.timeline::before{

    content:"";

    position:absolute;

    width:1px;

    background:
        linear-gradient(
            180deg,
            transparent,
            var(--dorado),
            transparent
        );

    top:0;

    bottom:0;

    left:50%;

    transform:translateX(-50%);

}
.t-item{

    position:relative;

    width:50%;

    padding:15px 30px;

}
.t-item.left{

    left:0;

    text-align:right;

}
.t-item.right{

    left:50%;

    text-align:left;

}
.circle{

    width:18px;

    height:18px;

    background:var(--dorado);

    border-radius:50%;

    position:absolute;

    top:20px;

    box-shadow:
        0 0 18px rgba(216,193,154,.65);

}
.t-item.left .circle{

    right:-9px;

}


.t-item.right .circle{

    left:-9px;

}

.itinerario h2{

    font-family:"Cormorant Garamond",serif;

    font-size:56px;

    font-weight:600;

    color:var(--titulo);

}
.itinerario-card h3{

    font-family:"Cormorant Garamond",serif;

    font-size:32px;

    color:var(--titulo);

}
.itinerario-card p{

    font-size:15px;

    color:var(--texto);

    line-height:1.8;

}

/*======================================================
LUGAR DEL EVENTO
======================================================*/

/*======================================================
LUGAR DEL EVENTO
======================================================*/


.lugares{

    padding:120px 20px;

    display:flex;

    flex-direction:column;

    align-items:center;
     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );

    

}



/* tarjeta */

.lugar-card{

    width:100%;

    max-width:850px;

   

     background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    backdrop-filter:blur(22px);

    border-radius:45px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.85);

    box-shadow:
    0 25px 60px rgba(168,200,232,.18);

    transition:.4s ease;

}



.lugar-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 35px 70px rgba(223,164,181,.20);

}



/* imagen */


.imagen-lugar{

    width:100%;

    height:420px;

    overflow:hidden;

}



.imagen-lugar img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.7s ease;

}



.lugar-card:hover img{

    transform:scale(1.08);

}



/* información */


.info-lugar{

    text-align:center;

    padding:50px 40px 60px;

}



/* icono */


.icono{

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;


    width:70px;

    height:70px;


    border-radius:50%;


    background:linear-gradient(
        135deg,
        var(--rosa),
        var(--azul-claro)
    );


    border:1px solid rgba(216,193,154,.40);


    font-size:30px;


    box-shadow:
    0 10px 25px rgba(168,200,232,.20);

}



/* titulo */


.info-lugar h3{

    margin:25px 0 20px;


    font-family:"Cormorant Garamond",serif;


    font-size:45px;


    font-weight:600;


    color:var(--titulo);

}



/* textos */


.info-lugar p{

    color:var(--texto);

    line-height:1.9;

    font-size:16px;

    margin-bottom:18px;

}



/* boton */


.btn{

    display:inline-flex;

    justify-content:center;

    align-items:center;


    margin-top:20px;


    padding:15px 40px;


    border-radius:50px;


    text-decoration:none;


    color:white;


    font-weight:500;



    background:linear-gradient(
        135deg,
        var(--azul-fuerte),
        var(--rosa-fuerte)
    );


    box-shadow:
    0 15px 30px rgba(143,180,216,.25);


    transition:.35s ease;

}



.btn:hover{


    transform:translateY(-5px);


    box-shadow:
    0 20px 40px rgba(223,164,181,.30);


}


/*======================================================
PADRES
======================================================*/


.familia{

    padding:120px 20px;

    position:relative;
     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );

}



.familia-contenedor{

    max-width:1000px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:40px;

}

.familia-card{

    position:relative;

   background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    backdrop-filter:blur(22px);

    border-radius:40px;

    padding:50px 35px;

    text-align:center;

    box-shadow:
    0 25px 60px rgba(168,200,232,.16);

    border:1px solid rgba(255,255,255,.85);

    overflow:hidden;

    transition:.4s ease;

}



.familia-card:hover{

    transform:translateY(-10px);

}

.familia-card::before{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    background:var(--azul-claro);

    opacity:.35;

    filter:blur(10px);

    border-radius:50%;

    top:-100px;

    right:-100px;

}
.decoracion{

    width:70px;

    height:70px;

    display:flex;

    align-items:center;

    justify-content:center;


    margin:auto;


    border-radius:50%;


    background:linear-gradient(
        135deg,
        var(--rosa),
        var(--azul-claro)
    );


    border:1px solid rgba(216,193,154,.4);


    color:white;

    font-size:30px;

}
.familia-card h3{

    margin:28px 0 35px;

    font-family:"Cormorant Garamond",serif;

    font-size:42px;

    font-weight:600;

    color:var(--titulo);
     font-weight:600;
     display: inline-block;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

}
.persona span{

    font-size:18px;

    color:var(--dorado);

}



.persona h4{

    margin-top:12px;

    font-family:"Cormorant Garamond",serif;

    font-size:28px;

    font-weight:600;

    color:var(--titulo);
     font-weight:600;
     display: inline-block;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

}



.persona p{

    margin-top:6px;

    color:var(--texto);

    font-size:13px;

    letter-spacing:3px;

    text-transform:uppercase;

}

.separador{

    width:100px;

    height:1px;

    margin:28px auto;


    background:linear-gradient(
        to right,
        transparent,
        var(--dorado),
        transparent
    );

}


/*======================================================
LLUVIA DE SOBRES
======================================================*/


.regalos{

    padding:120px 20px;

    display:flex;

    justify-content:center;

    position:relative;

    overflow:hidden;
     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );

}



/* Luz decorativa */

.regalos::before{

    content:"";

    position:absolute;

    width:380px;

    height:380px;

    background:var(--rosa-claro);

    opacity:.45;

    filter:blur(100px);

    border-radius:50%;

    left:-120px;

    top:40px;

}



/* Tarjeta */

.regalos-card{

    position:relative;

    max-width:750px;

    width:100%;


    text-align:center;


    padding:70px 50px;


     background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;


    backdrop-filter:blur(22px);


    border-radius:45px;


    border:1px solid rgba(255,255,255,.85);


    box-shadow:
    0 25px 60px rgba(168,200,232,.18);

}



/* Icono sobre */

.regalo-icono{


    width:90px;

    height:90px;


    display:flex;

    justify-content:center;

    align-items:center;


    margin:auto;


    border-radius:50%;


    font-size:42px;


    color:white;


    background:linear-gradient(
        135deg,
        var(--rosa),
        var(--azul-claro)
    );


    border:1px solid rgba(216,193,154,.45);


    box-shadow:
    0 15px 30px rgba(223,164,181,.22);

}



/* Subtitulo */


.regalos-card .subtitulo{

    display:block;


    margin-top:35px;


    color:var(--dorado);


}



/* Titulo */


.regalos-card h2{


    margin:18px 0 25px;


    font-family:"Cormorant Garamond",serif;


    font-size:60px;


    font-weight:600;


    color:var(--titulo);

}



/* Texto */


.regalos-card p{


    max-width:560px;


    margin:auto;


    line-height:2;


    color:var(--texto);


    
     display: inline-block;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

}



/* Decoración */


.decoracion-regalo{


    margin-top:40px;


    color:var(--dorado);


    font-size:22px;


    letter-spacing:15px;

}



/*======================================================
CONFIRMACIÓN DE ASISTENCIA
======================================================*/


.confirmacion{

    padding:120px 20px;
     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );

}



/* TARJETAS SUPERIORES */


.acciones-evento{

    max-width:1000px;

    margin:60px auto;

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:35px;

}



.accion-card{


     background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;


    backdrop-filter:blur(22px);


    padding:45px 30px;


    text-align:center;


    border-radius:35px;


    border:1px solid rgba(255,255,255,.85);


    box-shadow:
    0 25px 60px rgba(168,200,232,.16);


    transition:.35s ease;

}



.accion-card:hover{

    transform:translateY(-8px);

}



/* ICONOS */


.accion-icono{


    width:80px;


    height:80px;


    display:flex;


    justify-content:center;


    align-items:center;


    margin:auto;


    border-radius:50%;


    font-size:38px;


    background:linear-gradient(
        135deg,
        var(--rosa),
        var(--azul-claro)
    );


    border:1px solid rgba(216,193,154,.40);

}





/* TITULOS */


.accion-card h3{


    margin:25px 0 15px;


    font-family:"Cormorant Garamond",serif;


    font-size:36px;


    color:var(--titulo);


}




.accion-card p{


    color:var(--texto);


    line-height:1.8;


    margin-bottom:25px;


}






/* FORMULARIO */


.formulario-card{


    max-width:650px;


    margin:70px auto 0;


    padding:50px 45px;



     background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;


    backdrop-filter:blur(22px);


    border-radius:40px;


    border:1px solid rgba(255,255,255,.85);


    box-shadow:
    0 25px 60px rgba(168,200,232,.18);


}





.formulario-card h3{


    text-align:center;


    font-family:"Cormorant Garamond",serif;


    font-size:42px;


    color:var(--titulo);


    margin-bottom:35px;


}





#formConfirmacion{


    display:flex;


    flex-direction:column;


    gap:18px;


}





#formConfirmacion input,
#formConfirmacion select,
#formConfirmacion textarea{


    width:100%;


    padding:16px 20px;


    border-radius:18px;


    border:1px solid #E8DDE0;


    background:white;


    font-family:"Poppins",sans-serif;


    outline:none;


    color:var(--texto);


}





#formConfirmacion textarea{


    min-height:130px;


    resize:none;


}





#formConfirmacion input:focus,
#formConfirmacion select:focus,
#formConfirmacion textarea:focus{


    border-color:var(--azul-fuerte);


    box-shadow:
    0 0 0 4px rgba(168,200,232,.18);


}



/*======================================================
QR PARA FOTOS
======================================================*/


.fotos-qr{

    padding:120px 20px;

    display:flex;

    justify-content:center;
     background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );

}



/* TARJETA */


.qr-card{

    max-width:700px;

    width:100%;

    text-align:center;


    padding:65px 45px;


    background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;


    backdrop-filter:blur(22px);


    border-radius:45px;


    border:1px solid rgba(255,255,255,.85);


    box-shadow:
    0 25px 60px rgba(168,200,232,.18);


}



/* ICONO */


.qr-icono{


    width:85px;


    height:85px;


    margin:auto;


    display:flex;


    justify-content:center;


    align-items:center;


    border-radius:50%;


    font-size:40px;


    background:linear-gradient(
        135deg,
        var(--rosa),
        var(--azul-claro)
    );


    border:1px solid rgba(216,193,154,.40);


    box-shadow:
    0 10px 25px rgba(223,164,181,.20);


}




/* SUBTITULO */


.qr-card span{


    display:block;


    margin-top:35px;


    color:var(--dorado);


    text-transform:uppercase;


    letter-spacing:4px;


    font-size:13px;


    font-weight:600;


}




/* TITULO */


.qr-card h2{


    margin:15px 0;


    font-family:"Cormorant Garamond",serif;


    font-size:55px;


    font-weight:600;


    color:var(--titulo);


}




/* TEXTO */


.qr-card p{


    max-width:520px;


    margin:25px auto 35px;


    line-height:1.9;


    color:var(--texto);


    font-size:16px;


}




/* CONTENEDOR QR */


.qr-contenedor{


    width:220px;


    height:220px;


    margin:30px auto;


    padding:15px;


    background:white;


    border-radius:25px;


    box-shadow:

    0 15px 35px rgba(168,200,232,.22);


}



.qr-contenedor img{


    width:100%;


    height:100%;


    object-fit:contain;


}





/* BOTON */


.qr-card .btn{


    margin-top:25px;


}





/* DECORACION */


.qr-decoracion{


    margin-top:35px;


    color:var(--dorado);


    font-size:25px;


    letter-spacing:12px;


}


/*======================================================
CIERRE FINAL
======================================================*/


.cierre{


    min-height:80vh;


    padding:120px 20px;


    display:flex;


    justify-content:center;


    align-items:center;




    background:

    linear-gradient(

        135deg,

        var(--rosa-claro),

        var(--azul-claro)

    );


}





/* TARJETA */


.cierre-card{


    max-width:750px;


    width:100%;


    text-align:center;




    padding:70px 50px;




    background:
 

url("letra3.png");
 background-size:cover;
    background-position:center;
    background-repeat:no-repeat;




    backdrop-filter:blur(22px);




    border-radius:45px;




    border:1px solid rgba(255,255,255,.85);




    box-shadow:

    0 25px 60px rgba(168,200,232,.20);




    position:relative;


}






/* ICONO FLOR */


.flor{


    width:85px;


    height:85px;




    margin:auto;




    display:flex;


    justify-content:center;


    align-items:center;




    border-radius:50%;




    font-size:40px;




    color:white;




    background:linear-gradient(

        135deg,

        var(--rosa-fuerte),

        var(--azul-fuerte)

    );




    box-shadow:

    0 15px 30px rgba(223,164,181,.25);


}







/* TEXTO SUPERIOR */


.cierre-card span{


    display:block;




    margin-top:35px;




    text-transform:uppercase;




    letter-spacing:4px;




    font-size:13px;




    font-weight:600;




    color:var(--dorado);


}






/* TITULO */


.cierre-card h2{


    margin:20px 0;




    font-family:"Cormorant Garamond",serif;




    font-size:65px;




    font-weight:600;




    color:var(--titulo);


}






/* NOMBRES */


.cierre-card h3{


    font-family:"Great Vibes",cursive;




    font-size:80px;




    font-weight:400;




    color:var(--titulo);


}






/* TEXTO */


.cierre-card p{


    max-width:550px;




    margin:30px auto;




    font-size:17px;




    line-height:2;




    color:var(--texto);


}






/* FECHA */


.fecha-final{


    margin-top:35px;




    padding:15px 35px;




    display:inline-block;




    border-radius:50px;




    background:linear-gradient(

        135deg,

        var(--rosa),

        var(--azul-claro)

    );




    color:var(--titulo);




    letter-spacing:3px;




    font-weight:500;


}






/* DECORACION */


.decoracion-final{


    margin-top:35px;




    color:var(--dorado);




    font-size:28px;




    letter-spacing:15px;


}



/*======================================================
FOOTER
======================================================*/


.footer{


    padding:70px 20px 50px;



    background:

    linear-gradient(

        180deg,

        var(--azul-claro),

        var(--rosa-claro)

    );



    text-align:center;



    position:relative;



}





.footer-contenido{


    max-width:700px;


    margin:auto;


}





.footer-linea{


    color:var(--dorado);


    font-size:25px;


    margin-bottom:25px;


}





.footer h2{


    font-family:"Great Vibes",cursive;


    font-size:70px;


    font-weight:400;



    color:var(--titulo);



    margin-bottom:20px;


}







.footer p{


    max-width:450px;


    margin:auto;



    font-family:"Cormorant Garamond",serif;



    font-size:24px;



    line-height:1.7;



    color:var(--texto);


}





.footer-fecha{


    display:inline-block;


    margin-top:30px;


    padding:12px 35px;



    border-radius:50px;



    background:rgba(255,255,255,.65);



    backdrop-filter:blur(15px);



    color:var(--titulo);



    letter-spacing:3px;



    border:1px solid rgba(255,255,255,.8);


}






.footer-corazon{


    margin:30px 0 15px;



    font-size:35px;



    color:var(--rosa-fuerte);



}





.footer small{


    font-size:13px;



    letter-spacing:3px;



    text-transform:uppercase;



    color:var(--texto);



}



















/*======================================================
. Final  Responsive de todas la secciones 
======================================================*/

/*======================================================
Responsive de hero 
======================================================*/


@media (max-width:768px){

    .hero{

        min-height:100svh;
        padding:40px 20px;

    }

    .hero-content{

        padding:20px;

    }

    .hero h1{

        font-size:clamp(4rem,15vw,5.5rem);

    }

    .hero p{

        font-size:1.6rem;
        letter-spacing:2px;

    }

    .detalle{

        font-size:11px;
        letter-spacing:3px;
        padding:10px 22px;

    }

    .linea{

        width:120px;

    }

}

/*======================================================
Responsive del contador 
======================================================*/

@media (max-width: 900px){

    .countdown{
        grid-template-columns:repeat(2,1fr);
        gap:20px;
    }

} 
@media (max-width:600px){

    .contador{

        padding:80px 20px;

    }

    .contador h2{

        font-size:2.3rem;

    }

    .texto-contador{

        font-size:15px;
        line-height:1.8;

    }

    .countdown{

        grid-template-columns:repeat(2,1fr);
        gap:15px;

    }

    .tiempo{

        padding:28px 15px;
        border-radius:22px;

    }

    .tiempo span{

        font-size:3rem;

    }

    .tiempo small{

        font-size:11px;
        letter-spacing:2px;

    }

}


/*======================================================
Responsive de  galeria 
======================================================*/


@media(max-width:900px){

    .galeria-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:600px){

    .galeria{

        padding:90px 20px;

    }

    .titulo-seccion h2{

        font-size:40px;

    }

    .galeria-grid{

        grid-template-columns:1fr;

    }

    .foto,
    .foto.grande{

        height:340px;

    }

}




/*======================================================
Responsive de  itinerario
======================================================*/

@media(max-width:700px){

    .itinerario-card{

        padding:50px 25px;

    }


    .timeline::before{

        left:20px;

    }


    .t-item,
    .t-item.left,
    .t-item.right{

        width:100%;

        left:0;

        text-align:left;

        padding-left:60px;

    }


    .t-item.left .circle,
    .t-item.right .circle{

        left:12px;

    }


    .itinerario h2{

        font-size:40px;

    }

}


/*======================================================
Responsive de  lugares
======================================================*/

@media(max-width:700px){


    .lugares{

        padding:90px 20px;

    }



    .lugar-card{

        border-radius:35px;

    }



    .imagen-lugar{

        height:280px;

    }



    .info-lugar{

        padding:40px 25px;

    }



    .info-lugar h3{

        font-size:36px;

    }



}



/*======================================================
Responsive  familia
======================================================*/

@media(max-width:850px){


    .familia-contenedor{

        grid-template-columns:1fr;

        max-width:500px;

    }

}



@media(max-width:600px){


    .familia{

        padding:90px 20px;

    }



    .familia-card h3{

        font-size:36px;

    }



    .persona h4{

        font-size:24px;

    }


}



/*======================================================
Responsive  regalos
======================================================*/


@media(max-width:600px){


    .regalos{

        padding:90px 20px;

    }



    .regalos-card{

        padding:50px 25px;

        border-radius:35px;

    }



    .regalos-card h2{

        font-size:42px;

    }



    .regalos-card p{

        font-size:15px;

        line-height:1.8;

    }



    .regalo-icono{

        width:75px;

        height:75px;

        font-size:35px;

    }


}





/*======================================================
Responsive   confirmacion 
======================================================*/

/* RESPONSIVE */


@media(max-width:800px){


    .acciones-evento{

        grid-template-columns:1fr;

    }


}



@media(max-width:600px){


    .confirmacion{

        padding:90px 20px;

    }



    .formulario-card{

        padding:35px 20px;

    }



    .formulario-card h3{

        font-size:36px;

    }



    .accion-card h3{

        font-size:32px;

    }


}



/* RESPONSIVE de QR  */


@media(max-width:600px){


    .fotos-qr{

        padding:90px 20px;

    }



    .qr-card{

        padding:50px 25px;

        border-radius:35px;

    }



    .qr-card h2{

        font-size:40px;

    }



    .qr-card p{

        font-size:15px;

    }



    .qr-contenedor{

        width:190px;

        height:190px;

    }



}






/* RESPONSIVE  DEl footer
*/


@media(max-width:600px){



    .cierre{


        padding:90px 20px;

    }




    .cierre-card{


        padding:50px 25px;


        border-radius:35px;


    }





    .cierre-card h2{


        font-size:45px;


    }





    .cierre-card h3{


        font-size:60px;


    }





    .cierre-card p{


        font-size:15px;


    }



}


/* RESPONSIVE */


@media(max-width:600px){



    .footer{


        padding:60px 20px 40px;


    }





    .footer h2{


        font-size:55px;


    }





    .footer p{


        font-size:20px;


    }



}




/* ===== LUCIÉRNAGAS (VERSIÓN SEGURA) ===== */
.stars{
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:9999; /* 🔥 ARRIBA DE TODO */
}

.star{
    position:absolute;

    width:4px;
    height:4px;

     background:#fff7fb;
    border-radius:50%;

    box-shadow:
       0 0 8px rgba(255,255,255,1),

    0 0 18px rgba(244,167,193,.95),

    0 0 35px rgba(232,120,160,.75),

    0 0 55px rgba(212,175,55,.45);


    opacity:1; /* 🔥 IMPORTANTE */

    animation: floatStar linear infinite;
}

/* movimiento */
@keyframes floatStar{
    0%{
        transform: translateY(110vh);
    }
    100%{
        transform: translateY(-120vh);
    }
}